body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #8CADCD;
    font-family: 'Roboto', sans-serif;
}



@media only screen and (max-width : 320px) {



    /*-----TOP CONTENTS-----*/
    .top_contents {
        position: relative;
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

    }



    .main_title {
        font-size: 1em;
        font-weight: 900;
        color: #fff;
    }

    .menu_icon {
        position: absolute;
        height: 20px;
        right: 5%;

    }

    /*-----//  TOP CONTENTS-----*/
    /*-----VEHICLE CHOICE CONTENTS-----*/

    .vehicle_choice_wrap {
        position: relative;
        height: 50%;
        width: 100%;
        display: flex;
        flex-flow: column;

    }

    .pick_vehicle_title {
        width: 100%;
        margin: 20px 0px 0px;
        text-align: center;
        color: #fff;


    }

    .tap_to_select {
        margin-bottom: 20px;
        text-align: center;
    }

    .choose_vehicle_wheel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .shown_vehicle_wrap {
        width: 100%;
        display: flex;
        justify-content: center;


    }

    .vehicle_text {
        width: 100%;
    }

    .shown_vehicle {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        margin-top: 15px;


    }

    .icon_wrap {
        position: relative;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .car_icon,
    .van_icon,
    .bike_icon {
        margin: auto;
        transition: 0.1s;
    }


    .active,
    .dot:hover {
        background-color: #717171;
    }



    /*-----//  VEHICLE CHOICE CONTENTS-----*/
    /*-----VEHICLE INFORMATION CONTENTS-----*/

    .cust_info_form {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin: auto;
        margin: 0;

    }

    #vehicle_reg,
    #postcode {
        width: 70%;
        height: 35px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        outline: none;


    }

    #postcode {
        margin-top: 20px;
    }

    .button_wrap {
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .slide_wrap {
        position: absolute;
        width: 70%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 800;
        font-size: 1.3em;
        margin-top: 35px;
        border: 2px solid white;
        overflow: hidden;
    }

    .folow_car_box {
        position: absolute;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #fff;
    }

    .fa-car-side {
        position: absolute;
        left: 0;
        transition: 0.3s;
        visibility: hidden;
    }

    .next_button,
    .prev_button {
        position: relative;
        background-color: transparent;
        border: none;
        outline: none;

    }

    .next_icon,
    .prev_icon {
        position: relative;
        height: 50px;
    }


    /*-----//  VEHICLE INFORMATION CONTENTS-----*/
    /*-----HOVERS AND SUCH...-----*/
}

.icon_wrap:active>.car_icon {
    opacity: 0.5;
}

.menu_item:active {
    opacity: 0.5;
}

/*-----//  HOVERS AND SUCH...-----*/