body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #8CADCD;
    font-family: 'Roboto', sans-serif;
}




@media only screen and (min-width : 320px) {



    /*-----TOP CONTENTS-----*/
    .top_contents {
        position: relative;
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

    }



    .main_title {
        font-size: 1em;
        font-weight: 900;
        color: #fff;
    }

    .menu_icon {
        position: absolute;
        height: 20px;
        right: 5%;

    }

    /*-----//  TOP CONTENTS-----*/
    /*-----VEHICLE CHOICE CONTENTS-----*/

    .vehicle_choice_wrap {
        position: relative;
        height: 50%;
        width: 100%;
        display: flex;
        flex-flow: column;

    }

    .pick_vehicle_title {
        width: 100%;
        margin: 20px 0px 0px;
        text-align: center;
        font-weight: 300;
        color: #fff;


    }

    .tap_to_select {
        margin-bottom: 20px;
        font-weight: 600;
        text-align: center;
        opacity: 0;
    }

    .choose_vehicle_wheel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .shown_vehicle_wrap {
        width: 65%;
        display: flex;
        justify-content: center;


    }


    .shown_vehicle {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #000;
        font-size: 20px;
        font-weight: 500;
        margin-top: 15px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

    }

    .icon_wrap {
        position: relative;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .car_icon,
    .van_icon,
    .bike_icon {
        margin: auto;
        transition: 0.1s;
    }


    /*-----//  VEHICLE CHOICE CONTENTS-----*/
    /*-----VEHICLE INFORMATION CONTENTS-----*/

    .cust_info_form {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin: auto;
        margin: 0;
        margin-top: 20px;

    }

    #vehicle_reg,
    #postcode {
        width: 70%;
        height: 35px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        outline: none;


    }

    #postcode {
        margin-top: 20px;
    }

    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #000;
        padding-left: 3px;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #000;
        padding-left: 3px;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        color: #000;
        padding-left: 3px;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: #000;
        padding-left: 3px;
    }

    /*-----//  VEHICLE INFORMATION CONTENTS-----*/
    /*-----NEXT/PREV BUTTONS-----*/

    .button_wrap {
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .button {
        position: absolute;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
        overflow: hidden;
        transition: 0.2s;
        border: 2px solid rgba(255, 255, 255, 0.534);
        border-radius: 50%;
        background: #8CADCD;
        box-shadow: 5px 5px 10px #7b98b4,
            -5px -5px 10px #9dc2e6;
    }

    .inner_button_wrap {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid rgba(255, 255, 255, 0.534);
    }

    .dotted_next_icon {
        position: absolute;
        height: 30px;
        margin-left: 5px;
    }


    .next {
        font-size: 1.1em;
    }

    /*-----//  NEXT/PREV BUTTONS-----*/



    /*-----HOVERS AND SUCH...-----*/
}

.icon_wrap:active>.car_icon {
    opacity: 0.5;
}

.icon_wrap:active>.van_icon {
    opacity: 0.5;
}

.icon_wrap:active>.bike_icon {
    opacity: 0.5;
}

.button:active {
    box-shadow: none;
}

/*-----//  HOVERS AND SUCH...-----*/